@model IEnumerable<NotesMarketplace.ViewModels.MembersViewModel>

@{
    ViewBag.Title = "Members";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="blank">
</section>

<!-- Section Members -->
<section id="members">

    <div class="content-box">

        <div class="container">

            @using (Html.BeginForm("Members", "AdminMembers", FormMethod.Get))
            {

                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-5 col-12 table-heading my-auto">
                        <h4 class="heading-md">Members</h4>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-7 col-12" id="table-search">
                        <div class="row search">
                            <div class="search-bar col-lg-9 col-md-9 col-sm-8 col-8 form-group">
                                <input type="search" value="@ViewBag.Search" name="search" class="form-control" id="search" placeholder="Search">
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-4 btn-search">
                                <button class="btn btn-color" type="submit">Search</button>
                            </div>
                        </div>
                    </div>
                </div>

            }


            <div class="row table-general table-responsive">

                <table class="table">

                    <thead>
                        <tr class="column-title">
                            <th>Sr No.</th>
                            <th>@Html.ActionLink("First Name", "Members", new { sort = ViewBag.Sort == null ? "FirstName_Desc" : (ViewBag.Sort == "FirstName_Asc" ? "FirstName_Desc" : "FirstName_Asc"), search = @ViewBag.Search, page = @ViewBag.PageNumber })</th>
                            <th>@Html.ActionLink("Last Name", "Members", new { sort = ViewBag.Sort == null ? "LastName_Desc" : (ViewBag.Sort == "LastName_Asc" ? "LastName_Desc" : "LastName_Asc"), search = @ViewBag.Search, page = @ViewBag.PageNumber })</th>
                            <th>@Html.ActionLink("Email", "Members", new { sort = ViewBag.Sort == null ? "Email_Desc" : (ViewBag.Sort == "Email_Asc" ? "Email_Desc" : "Email_Asc"), search = @ViewBag.Search, page = @ViewBag.PageNumber })</th>
                            <th class="table-date">@Html.ActionLink("Joining Date", "Members", new { sort = ViewBag.Sort == null ? "JoiningDate_Asc" : (ViewBag.Sort == "JoiningDate_Desc" ? "JoiningDate_Asc" : "JoiningDate_Desc"), search = @ViewBag.Search, page = @ViewBag.PageNumber })</th>
                            <th class="content-center">@Html.ActionLink("Under Review Notes", "Members", new { sort = ViewBag.Sort == null ? "UnderReviewNotes_Desc" : (ViewBag.Sort == "UnderReviewNotes_Asc" ? "UnderReviewNotes_Desc" : "UnderReviewNotes_Asc"), search = @ViewBag.Search, page = @ViewBag.PageNumber })</th>
                            <th class="content-center">@Html.ActionLink("Published Notes", "Members", new { sort = ViewBag.Sort == null ? "PublishedNotes_Desc" : (ViewBag.Sort == "PublishedNotes_Asc" ? "PublishedNotes_Desc" : "PublishedNotes_Asc"), search = @ViewBag.Search, page = @ViewBag.PageNumber })</th>
                            <th class="content-center">@Html.ActionLink("Downloaded Notes", "Members", new { sort = ViewBag.Sort == null ? "DownloadedNotes_Desc" : (ViewBag.Sort == "DownloadedNotes_Asc" ? "DownloadedNotes_Desc" : "DownloadedNotes_Asc"), search = @ViewBag.Search, page = @ViewBag.PageNumber })</th>
                            <th class="content-center">@Html.ActionLink("Total Expenses", "Members", new { sort = ViewBag.Sort == null ? "TotalExpenses_Desc" : (ViewBag.Sort == "TotalExpenses_Asc" ? "TotalExpenses_Desc" : "TotalExpenses_Asc"), search = @ViewBag.Search, page = @ViewBag.PageNumber })</th>
                            <th class="content-center">@Html.ActionLink("Total Earnings", "Members", new { sort = ViewBag.Sort == null ? "TotalEarning_Desc" : (ViewBag.Sort == "TotalEarning_Asc" ? "TotalEarning_Desc" : "TotalEarning_Asc"), search = @ViewBag.Search, page = @ViewBag.PageNumber })</th>
                            <th class="content-center"></th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.Count() == 0)
                        {
                            <tr class="no-record">
                                <td colspan="11" class="text-center">No Record Found</td>
                            </tr>
                        }
                        else
                        {
                            var srno = (ViewBag.PageNumber - 1) * 5;
                            foreach (var item in Model)
                            {
                                { srno = srno + 1; }
                                <tr>
                                    <td class="table-sr-no">@srno</td>
                                    <td>@item.FirstName</td>
                                    <td>@item.LastName</td>
                                    <td>@item.Email</td>
                                    <td>@item.JoiningDate.ToString("dd-MM-yyyy hh:mm")</td>
                                    <td class="content-center table-number-link"><a href="@Url.Action("NotesUnderReview", "AdminNotes", new { member = item.ID })">@item.UnderReviewNotes</a></td>
                                    <td class="content-center table-number-link"><a href="@Url.Action("PublishedNotes", "AdminNotes", new { member = item.ID })">@item.PublishedNotes</a></td>
                                    <td class="content-center table-number-link"><a href="@Url.Action("DownloadedNotes", "AdminNotes", new { member = item.ID })">@item.DownloadedNotes</a></td>

                                    @if (item.TotalExpenses == null)
                                    {
                                        <td class="content-center table-number-link"><a href="@Url.Action("DownloadedNotes", "AdminNotes", new { member = item.ID })">$0</a></td>
                                    }
                                    else
                                    {
                                        <td class="content-center table-number-link"><a href="@Url.Action("DownloadedNotes", "AdminNotes", new { member = item.ID })">$@item.TotalExpenses</a></td>
                                    }

                                    @if (item.TotalEarning == null)
                                    {
                                        <td class="content-center">$0</td>
                                    }
                                    else
                                    {
                                        <td class="content-center">$@item.TotalEarning</td>
                                    }

                                    <td class="content-center">
                                        <!-- Default dropleft button -->
                                        <div class="btn-group dropleft">
                                            <button type="button" id="dropdownMenu2" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img src="~/images/Dashboard/3dot.png" alt="menu" class="dots">
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                <a class="dropdown-item" href="@Url.Action("MemberDetail", "AdminMembers", new { member = @item.ID })">View More Details</a>
                                                <a class="dropdown-item" data-toggle="modal" data-target="#confirmation-@item.ID" role="button">Deactive</a>
                                            </div>
                                        </div>

                                        <!-- Section Confirmation Box -->
                                        <div class="modal fade " id="confirmation-@item.ID" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-confirm-body">
                                                        <div>
                                                            <p class="confirm-text">
                                                                Are you sure you want to make this member inactive?
                                                            </p>

                                                            <div class="btn-confirm">
                                                                <a class="btn btn-yes" href="@Url.Action("DeactiveMember", "AdminMembers", new { memberid = @item.ID })" role="button">YES</a>
                                                                <a class="btn btn-no" data-dismiss="modal" aria-label="Close" role="button">NO</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Section Confirmation-Box END -->

                                    </td>
                                </tr>

                            }
                        }

                    </tbody>
                </table>

            </div>

            @if (Model.Count() != 0)
            {
                <div class="row justify-content-center">

                    <nav aria-label="...">
                        <ul class="pagination flex-wrap">

                            <li class="page-item">
                                @if (ViewBag.PageNumber == 1)
                                {
                                    <a class="page-link" href="@Url.Action("Members", new { sort = ViewBag.Sort, search = @ViewBag.Search, page = @ViewBag.PageNumber })"><i class="fa fa-angle-left"></i></a>
                                }
                                else
                                {
                                    <a class="page-link" href="@Url.Action("Members", new { sort = ViewBag.Sort, search = @ViewBag.Search, page = @ViewBag.PageNumber - 1 })"><i class="fa fa-angle-left"></i></a>
                                }
                            </li>

                            @{
                                double? TotalPages = ViewBag.TotalPages;

                                if (ViewBag.PageNumber != 1 && ViewBag.PageNumber - 2 > 1)
                                {
                                    int page = Convert.ToInt32(@ViewBag.PageNumber) - 3;
                                    <li class="page-item">@Html.ActionLink("1", "Members", new { sort = ViewBag.Sort, search = @ViewBag.Search, page = 1 }, new { @class = "page-link" })</li>
                                    if (page != 1)
                                    {
                                        <li class="page-item more-pages-dots">@Html.ActionLink("...", "Members", new { sort = ViewBag.Sort, search = @ViewBag.Search, page = page }, new { @class = "page-link more-pages-dots" })</li>
                                    }
                                }

                                for (int i = 2; i > 0; i--)
                                {
                                    if (ViewBag.PageNumber - i > 0)
                                    {
                                        int page = Convert.ToInt32(@ViewBag.PageNumber) - i;
                                        <li class="page-item">@Html.ActionLink(page.ToString(), "Members", new { sort = ViewBag.Sort, search = @ViewBag.Search, page = page }, new { @class = "page-link" })</li>
                                    }
                                }

                                <li class="page-item active">
                                    <a class="page-link">@ViewBag.PageNumber<span class="sr-only">(current)</span></a>
                                </li>

                                for (int i = 1; i < 3; i++)
                                {
                                    if (ViewBag.PageNumber + i <= TotalPages)
                                    {
                                        int page = Convert.ToInt32(@ViewBag.PageNumber) + i;
                                        <li class="page-item">@Html.ActionLink(page.ToString(), "Members", new { sort = ViewBag.Sort, search = @ViewBag.Search, page = page }, new { @class = "page-link" })</li>
                                    }
                                }

                                if (ViewBag.PageNumber != TotalPages && ViewBag.PageNumber + 2 < TotalPages)
                                {
                                    int page = Convert.ToInt32(@ViewBag.PageNumber) + 3;
                                    if (page != TotalPages)
                                    {
                                        <li class="page-item">@Html.ActionLink("...", "Members", new { sort = ViewBag.Sort, search = @ViewBag.Search, page = page }, new { @class = "page-link more-pages-dots" })</li>
                                    }
                                    <li class="page-item">@Html.ActionLink(TotalPages.ToString(), "Members", new { sort = ViewBag.Sort, search = @ViewBag.Search, page = TotalPages }, new { @class = "page-link" })</li>
                                }

                            }

                            <li class="page-item">
                                @if (ViewBag.PageNumber == ViewBag.TotalPages)
                                {
                                    <a class="page-link" href="@Url.Action("Members", new { sort = ViewBag.Sort, search = @ViewBag.Search, page = @ViewBag.PageNumber })"><i class="fa fa-angle-right"></i></a>
                                }
                                else
                                {
                                    <a class="page-link" href="@Url.Action("Members", new { sort = ViewBag.Sort, search = @ViewBag.Search, page = @ViewBag.PageNumber + 1 })"><i class="fa fa-angle-right"></i></a>
                                }
                            </li>

                        </ul>
                    </nav>

                </div>
            }

        </div>

    </div>

</section>
<!-- Section Members END -->
