@model IEnumerable<NotesMarketplace.ViewModels.BuyerRequestViewModel>

@{
    ViewBag.Title = "Buyer Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blank">
</section>

<!-- Section Buyer Request -->
<section id="buyer-request">

    <div class="content-box">

        <div class="container">

            @using (Html.BeginForm("BuyerRequest", "BuyerRequest", FormMethod.Get))
            {
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-5 col-12 table-heading my-auto">
                        <h4 class="heading-md">Buyer Request</h4>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-7 col-12" id="table-search">
                        <div class="row search">
                            <div class="search-bar col-lg-9 col-md-9 col-sm-8 col-8 form-group">
                                <input type="search" name="search" class="form-control" id="search" value="@ViewBag.Search" placeholder="Search">
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-4 btn-search">
                                <button type="submit" class="btn btn-color">Search</button>
                            </div>
                        </div>
                    </div>
                </div>

            }

            <div class="row table-general table-responsive">

                <table class="table">
                    <thead>
                        <tr>

                            <th>Sr No.</th>
                            <th>@Html.ActionLink("Notes Title", "BuyerRequest", new { sort = ViewBag.Sort == null ? "Title_Desc" : (ViewBag.Sort == "Title_Asc" ? "Title_Desc" : "Title_Asc"), search = @ViewBag.Search, page = @ViewBag.PageNumber })</th>
                            <th>@Html.ActionLink("Category", "BuyerRequest", new { sort = ViewBag.Sort == null ? "Category_Desc" : (ViewBag.Sort == "Category_Asc" ? "Category_Desc" : "Category_Asc"), search = @ViewBag.Search, page = @ViewBag.PageNumber })</th>
                            <th>@Html.ActionLink("Buyer", "BuyerRequest", new { sort = ViewBag.Sort == null ? "Buyer_Desc" : (ViewBag.Sort == "Buyer_Asc" ? "Buyer_Desc" : "Buyer_Asc"), search = @ViewBag.Search, page = @ViewBag.PageNumber })</th>
                            <th>@Html.ActionLink("Phone no.", "BuyerRequest", new { sort = ViewBag.Sort == null ? "Phone_Desc" : (ViewBag.Sort == "Phone_Asc" ? "Phone_Desc" : "Phone_Asc"), search = @ViewBag.Search, page = @ViewBag.PageNumber })</th>
                            <th>@Html.ActionLink("Sell Type", "BuyerRequest", new { sort = ViewBag.Sort == null ? "Type_Desc" : (ViewBag.Sort == "Type_Asc" ? "Type_Desc" : "Type_Asc"), search = @ViewBag.Search, page = @ViewBag.PageNumber })</th>
                            <th>@Html.ActionLink("Price", "BuyerRequest", new { sort = ViewBag.Sort == null ? "Price_Desc" : (ViewBag.Sort == "Price_Asc" ? "Price_Desc" : "Price_Asc"), search = @ViewBag.Search, page = @ViewBag.PageNumber })</th>
                            <th>@Html.ActionLink("Downloaded Date/Time", "BuyerRequest", new { sort = ViewBag.Sort == null ? "DownloadedDate_Asc" : (ViewBag.Sort == "DownloadedDate_Desc" ? "DownloadedDate_Asc" : "DownloadedDate_Desc"), search = @ViewBag.Search, page = @ViewBag.PageNumber })</th>
                            <th class="content-center"></th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() == 0)
                        {
                            <tr class="no-record">
                                <td colspan="9" class="text-center">No Record Found</td>
                            </tr>
                        }
                        else
                        {
                            var srno = (ViewBag.PageNumber - 1) * 10;
                            foreach (var item in Model)
                            {
                                <tr>
                                    @{ srno = srno + 1; }
                                    <td class="table-sr-no">@srno</td>
                                    <td class="table-notes-title"><a href="@Url.Action("Notes", "SearchNotes", new { id = @item.TblDownload.NoteID })">@item.TblDownload.NoteTitle</a></td>
                                    <td>@item.TblDownload.NoteCategory</td>
                                    <td>@item.TblUser.Email</td>
                                    <td>@item.TblUserProfile.PhoneNumberCountryCode @item.TblUserProfile.PhoneNumber</td>
                                    @if (@item.TblDownload.IsPaid == true)
                                    {
                                        <td>Paid</td>
                                        <td>$@item.TblDownload.PurchasedPrice</td>
                                    }
                                    else
                                    {
                                        <td>Free</td>
                                        <td>$0</td>
                                    }
                                    <td>@item.TblDownload.CreatedDate.Value.ToString("dd MMM yyyy hh:mm:ss")</td>
                                    <td>
                                        <div class="table-images">

                                            <a href="@Url.Action("Notes", "SearchNotes", new { id = @item.TblDownload.NoteID } )"><img src="~/images/Dashboard/eye.png" alt="view" class="eye"></a>
                                            <!-- Default dropleft button -->
                                            <div class="btn-group dropleft">
                                                <button type="button" id="dropdownMenu" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <img src="~/images/Dashboard/3dot.png" alt="menu" class="dots">
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                                                    <a href="@Url.Action("AllowDownload", new { id = @item.TblDownload.ID })" class="dropdown-item" type="button">Allow Download</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>

            </div>

            @if (Model.Count() != 0)
            {
                <div class="row justify-content-center">

                    <nav aria-label="..."> 
                        <ul class="pagination flex-wrap">

                            <li class="page-item">
                                @if (ViewBag.PageNumber == 1)
                                {
                                    <a class="page-link" href="@Url.Action("BuyerRequest",  new { sort = @ViewBag.Sort, search = @ViewBag.Search, page = @ViewBag.PageNumber })"><i class="fa fa-angle-left"></i></a>
                                }
                                else
                                {
                                    <a class="page-link" href="@Url.Action("BuyerRequest", new { sort = @ViewBag.Sort, search = @ViewBag.Search, page = @ViewBag.PageNumber - 1 })"><i class="fa fa-angle-left"></i></a>
                                }
                            </li>

                            @{
                                double? TotalPages = ViewBag.TotalPages;

                                if (ViewBag.PageNumber != 1 && ViewBag.PageNumber - 2 > 1)
                                {
                                    int page = Convert.ToInt32(@ViewBag.PageNumber) - 3;
                                    <li class="page-item">@Html.ActionLink("1", "BuyerRequest", new { sort = @ViewBag.Sort, search = @ViewBag.Search, page = 1 }, new { @class = "page-link" })</li>
                                    if (page != 1)
                                    {
                                        <li class="page-item more-pages-dots">@Html.ActionLink("...", "BuyerRequest", new { sort = @ViewBag.Sort, search = @ViewBag.Search, page = page }, new { @class = "page-link more-pages-dots" })</li>
                                    }
                                }

                                for (int i = 2; i > 0; i--)
                                {
                                    if (ViewBag.PageNumber - i > 0)
                                    {
                                        int page = Convert.ToInt32(@ViewBag.PageNumber) - i;
                                        <li class="page-item">@Html.ActionLink(page.ToString(), "BuyerRequest", new { sort = @ViewBag.Sort, search = @ViewBag.Search, page = page }, new { @class = "page-link" })</li>
                                    }
                                }

                                <li class="page-item active">
                                    <a class="page-link">@ViewBag.PageNumber<span class="sr-only">(current)</span></a>
                                </li>

                                for (int i = 1; i < 3; i++)
                                {
                                    if (ViewBag.PageNumber + i <= TotalPages)
                                    {
                                        int page = Convert.ToInt32(@ViewBag.PageNumber) + i;
                                        <li class="page-item">@Html.ActionLink(page.ToString(), "BuyerRequest", new { sort = @ViewBag.Sort, search = @ViewBag.Search, page = page}, new { @class = "page-link" })</li>
                                    }
                                }

                                if (ViewBag.PageNumber != TotalPages && ViewBag.PageNumber + 2 < TotalPages)
                                {
                                    int page = Convert.ToInt32(@ViewBag.PageNumber) + 3;
                                    if (page != TotalPages)
                                    {
                                        <li class="page-item">@Html.ActionLink("...", "BuyerRequest", new { sort = @ViewBag.Sort, search = @ViewBag.Search, page = page }, new { @class = "page-link more-pages-dots" })</li>
                                    }
                                    <li class="page-item">@Html.ActionLink(TotalPages.ToString(), "BuyerRequest", new { sort = @ViewBag.Sort, search = @ViewBag.Search, page = TotalPages }, new { @class = "page-link" })</li>
                                }

                            }

                            <li class="page-item">
                                @if (ViewBag.PageNumber == TotalPages)
                                {
                                    <a class="page-link" href="@Url.Action("BuyerRequest", new { sort = @ViewBag.Sort, search = @ViewBag.Search, page = @ViewBag.PageNumber })"><i class="fa fa-angle-right"></i></a>
                                }
                                else
                                {
                                    <a class="page-link" href="@Url.Action("BuyerRequest", new { sort = @ViewBag.Sort, search = @ViewBag.Search, page = @ViewBag.PageNumber + 1 })"><i class="fa fa-angle-right"></i></a>
                                }
                            </li>

                        </ul>
                    </nav>

                </div>
            }

        </div>

    </div>

</section>
<!-- Section Buyer Request END -->
